<?xml version='1.0' encoding='utf-8'?>

<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-tts"
  version="0.3.0">
  <name>TTS</name>
  <description>Cordova Text-to-Speech Plugin</description>
  <author>VILIC VANE, Stuart Cornell</author>
  <license>MIT</license>
  <keywords>cordova,tts,text-to-speech</keywords>
  <repo>https://github.com/stuuu68/cordova-plugin-tts.git</repo>
  <issue>https://github.com/stuuu68/cordova-plugin-tts/issues</issue>

  <js-module src="www/tts.js" name="tts">
    <clobbers target="TTS" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TTS">
        <param name="ios-package" value="CDVTTS"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVTTS.h" />
    <source-file src="src/ios/CDVTTS.m" />
  </platform>

</plugin>
